.article__content {
  code.green {
    color: $text-color-function;
    background-color: $green;
  }

  code.blue {
    color: $text-color-function;
    background-color: $blue;
  }

  code.orange {
    color: $text-color-function;
    background-color: $yellow;
  }

  code.red {
    color: $text-color-function;
    background-color: $red;
  }
}
